@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coustard&family=DM+Serif+Display&family=Dancing+Script:wght@400;500;600&family=Indie+Flower&family=Kanit:wght@100&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@1,100&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&family=Smokum&family=Smooch&family=Square+Peg&family=Syne+Mono&family=Tapestry&display=swap');

.Titre1{
    color: rgb(207, 213, 228);
    margin-bottom: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 100px;
}
.paragraphe{
    color: rgb(117, 128, 159);
    margin: 0px auto;
    font-family:"Montserrat Alternates", sans-serif" ";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 50px;
}
.Titre2{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: rgb(54, 65, 92);
    margin-bottom: 16px;
    text-align: center;

}
.gre{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
  
}
.titreImg{
    color: rgb(54, 65, 92);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    margin-top: 22px;
    margin-right: 50px;
    margin-left: 10px;
    width:250px;
    
}

.paragrapheImg{
    color: rgb(117, 128, 159);
    margin-left: 10px;
    margin-right: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    flex-direction: column;



}
.image{
    margin-right:10px;
    width: 70px;
    height: 70px;
    
    }
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .bloc{
        margin-top:100px;
    }
.blocImg{
    margin-top: 20px;
    display:flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}



















